{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@": "./"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "styled-components",
          {
            "displayName": false
          }
        ]
      ]
    }
  }
}
